{
  "prefix": "!",
  "token": "YOUR_DISCORD_TOKEN_HERE",
  "OPEN_API": "YOUR_OPEN_API_TOKEN_HERE",
  "emoji": {
    "play": "▶️",
    "stop": "⏹️",
    "queue": "📄",
    "success": "☑️",
    "repeat": "🔁",
    "error": "❌"
  }
}
